.root {
    -fx-accent: #1e74c6;
    -fx-focus-color: -fx-accent;
    -fx-base: #373e43;
    -fx-control-inner-background: derive(-fx-base, 35%);
    -fx-control-inner-background-alt: -fx-control-inner-background ;
}

Text {
    -fx-fill: #e5e5e5;
}

Button {
    -fx-background-color: derive(-fx-base, 5%);
    -fx-focus-traversable: false;
}
Button:hover {
    -fx-background-color: derive(-fx-base, 40%);
    -fx-text-fill: white;
}

ScrollBar {
    -fx-background-color: derive(-fx-base, 45%)
}

Button:default {
    -fx-base: -fx-accent;
}